node_modules
**/node_modules
dist
**/dist
dist-server
**/dist-server
*.tsbuildinfo
**/*.tsbuildinfo
.git
.gitignore
*.log
**/*.log
*firebase-adminsdk*.json
**/*firebase-adminsdk*.json
.env.local
**/.env.local
Thumbs.db
.DS_Store
.vscode
.idea
build-check-client.txt
server-log.txt
server_test.log
vite-dev.log
vite-dev-err.log
